@mixin white-text-on-black-bg() {
  * {
    background: $background-black;
    color: $font-white;
  }
}

@mixin black-text-on-white-bg() {
  * {
    background: $background-white;
    color: $font-black;
  }
}